/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(28, 88%, 62%);
    --first-color-alt: hsl(28, 84%, 58%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --text-color-light: hsl(0, 0%, 65%);
    --black-color: hsl(0, 0%, 6%);
    --body-color: hsl(0, 0%, 6%);
    --container-color: hsl(0, 0%, 10%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --second-font: "Dancing Script", cursive;
    --biggest-font-size: 3rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
        scroll-behavior: smooth;
}

body,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: rgb(82, 82, 82);
    color: var(--text-color);
}

button {
    border: none;
    outline: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* .container */
.container{
    width: 100%;
    display: flex;
    align-items: center;
}

.container .item_1{
    flex-grow: 4;
}

.container .item_2{
    flex-grow: 6;
}

/* option */

.container .option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    height: 300px;
    width: 100px;
    border-radius: 10px;
    margin-left: auto;
}

.container .option .choose img {
    transform: scaleX(-1);
    width: 60px;
    transition: 0.3s ease;
}

.container .option .choose img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px white;
    border-radius: 10px;
}

/* playground */

.playground {
    background-color: black;
    width: 700px;
    height: 650px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 20px;
}

/* result meme */

.playground .result_meme{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.playground .result_meme .res_img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin: 20px 50px;
}

.playground .result_meme .res_img img{
    object-fit: cover;
}

.playground .play_area{
    display: flex;
    align-items: center;
}

.playground .play_area .player{
    transform: scaleX(-1);
}

/* score */

.playground .score_area{
    display: flex;
    justify-content: space-between;
}

.playground .score_area .score{
    font-size: 90px;
    padding: 0 60px;
    margin: 0;
}

/* end game */

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal{
    width: 300px;
    height: 400px;
    background-color: rgb(92, 91, 91);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 10px 2px rgba(243, 243, 243, 0.6);
}

#restartGame{
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
    font-size: 30px;
}

#restartGame:hover{
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}

.hidden{
    display: none;
}